* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/art export-ignore
/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.prettierrc export-ignore
CHANGELOG.md export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
RELEASE.md export-ignore
UPGRADE.md export-ignore
